@import "tailwindcss";
/* Estilos personalizados */
body {
    font-family: 'Roboto', sans-serif;
}

.bg-sky-blue {
    background-color: #A5862B;
}

.text-dark-gray {
    color: #374151;
}

.border-dark-gray {
    border-color: #374151;
}